PROJECT_MODE=test
DATABASE_URL_ASYNC=postgresql+asyncpg://test:test@localhost:5433/test_db
PROJECT_MAIN_LANGUAGE=en
PROJECT_SUPPORTED_LANGUAGES=en,es
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_USE_TLS=true
SMTP_TIMEOUT=10
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=FastAPI Template